@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
    background-color: #F3F3F3;
}


/* .container {
  width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -2;
  margin-left: 160px;
} */
.containerdata {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  padding-left: 120px;
}

.containergrafik {
  width: 3000px;
  min-height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 260px;
  background-color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.btn{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #4A55A2;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 260px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  left: -32px;
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.sidebar .text{
  color: #4A55A2;
  font-size: 25px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  background: white;
  letter-spacing: 1px;
}
nav ul{
  background: white;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: #6B7280;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: #4A55A2;
  background: #F5F3FF;
  border-left-color: #4A55A2;
}
nav ul li a:hover{
  background: #F5F3FF;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #4A55A2;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #4A55A2;
  background: white;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: #4A55A2!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #4A55A2;
  z-index: -2;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}

.logo {
  color: #4A55A2;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: white;
  letter-spacing: 1px;
}

.logo img {
  width: 80px;
}

.navbar {
    background: white;
    color: #fff;
    height:  70px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.table-container {
    max-height: 650px; 
    overflow-y: auto;  
  }
   

.dropdown-menu{
  border: none;
  --bs-dropdown-link-active-bg: #4A55A2;
}

.dropdown-item {
  width: 267px;
}
  

.dropdown-item .active {
  background-color: #F5F3FF;
  width: 244px;
}

.col {
  padding: 0 0 0;
  left: 15px;
}

.col .form-control {
  border-radius: 0px;
}

.col button {
  width: 100px;
  left: 0px;
  top: -1px;
  height: 39px;
  border-radius: 5px;
}

.col .category {
  background-color: #4A55A2;
}

